<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYUa7wYk-XB6ABXaXIiXcRgcNk-E-G7AE</string>
	<key>GCM_SENDER_ID</key>
	<string>265880096002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>laudspeaker.test2</string>
	<key>PROJECT_ID</key>
	<string>customer-io-ans</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-io-ans.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265880096002:ios:0954a15e6076b9c3afc61b</string>
</dict>
</plist>